<div *ngIf="todos && todos.length > 0" class="todos-container">
  <div *ngFor="let todo of todos" class="todos-item-container" [routerLink]="['/todo', todo.id]">
    <div class="id">#{{todo.id}}</div>
    <div class="title">{{todo.title}}</div>
    <div class="author">@{{todo.author}}</div>
  </div>
</div>

<app-modal-dialog #addTodoModalDialog heading="Add new Todo">
  <form [formGroup]="addTodoFormGroup" (ngSubmit)="todoFormSubmit()">
    <label for="author">Author:</label>
    <input type="text" id="author" formControlName="author">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">
    <label for="description">Description:</label>
    <textarea rows="3" id="description" formControlName="description"></textarea>
    <button type="submit" [disabled]="addTodoFormGroup.pristine || addTodoFormGroup.invalid || addTodoFormGroup.pending">Submit</button>
  </form>
</app-modal-dialog>

<button class="fab" title="Add new Todo" (click)="addTodoModalDialog.toggle(true)">
  <img src="./assets/add.svg" alt="add new todo">
</button>
