.todo-details-container {

  .title {
    padding-bottom: 10px;
    border-bottom: 3px solid #FFF;
  }
  .description {
    padding: 15px 25px;
    background-color: #FFF;
    border-radius: 4px;
    margin-bottom: 55px;
  }
}
