.navbar {
  color: #FFF;
  background-color: #161e26;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 35px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar-title {
  margin: 0;
  flex: 1;
  cursor: pointer;
}
.navbar-brand {
  height: 45px;
  width: 45px;
}
.page-content {
  padding: 0 35px;
}
