.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 30, 38, 0.4);
    z-index: 2;
  }

  .foreground {
    width: 65%;
    border-radius: 4px;
    background: #fff;
    z-index: 3;
    .heading {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(22, 30, 38, 0.2);

      .title {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background-color: rgba(22, 30, 38, 0.2);
        border-top-left-radius: 4px;
      }

      .button-close {
        padding: 15px 20px;
        display: block;
        background: #fff;
        border: none;
        font-size: 1em;
        border-top-right-radius: 4px;
      }
    }

    .content {
      padding: 15px 20px;
    }
  }
}
